<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="msnodesql.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="node.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="net40" />
  <package id="node_redis.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="nodemailer.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
</packages>